
@keyframes loading-spinner__dots {
   0% { transform: translate(6px,40px) scale(0); }
  25% { transform: translate(6px,40px) scale(0); }
  50% { transform: translate(6px,40px) scale(1); }
  75% { transform: translate(40px,40px) scale(1); }
 100% { transform: translate(74px,40px) scale(1); }
}
@keyframes loading-spinner__dots-r {
   0% { transform: translate(74px,40px) scale(1); }
 100% { transform: translate(74px,40px) scale(0); }
}
@keyframes loading-spinner__dots-c {
   0% { background: #d4fffd }
  25% { background: #f3f577 }
  50% { background: #d4fffd }
  75% { background: #f3f577 }
 100% { background: #d4fffd }
}
.loading-spinner__dots div {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(40px,40px) scale(1);
  background: #d4fffd;
  animation: loading-spinner__dots 1s infinite cubic-bezier(0,0.5,0.5,1);
}
.loading-spinner__dots div:nth-child(1) {
  background: #f3f577;
  transform: translate(74px,40px) scale(1);
  animation: loading-spinner__dots-r 0.25s infinite cubic-bezier(0,0.5,0.5,1), loading-spinner__dots-c 1s infinite step-start;
}.loading-spinner__dots div:nth-child(2) {
  animation-delay: -0.25s;
  background: #d4fffd;
}.loading-spinner__dots div:nth-child(3) {
  animation-delay: -0.5s;
  background: #f3f577;
}.loading-spinner__dots div:nth-child(4) {
  animation-delay: -0.75s;
  background: #d4fffd;
}.loading-spinner__dots div:nth-child(5) {
  animation-delay: -1s;
  background: #f3f577;
}
.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.loading-spinner__dots {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.8);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.loading-spinner__dots div { box-sizing: content-box; }
